#particles-js{
    background-image: url(../img/fondo/01.jpg);
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -3;
}

header, main, footer {
    padding-left: 300px;
}

a.page-title{
    font-size: 30px;
}

.items-menu{
    margin-top: -8px;
}

.container-titulo{
    width: 95%;
    margin: 0 auto;
}

.ui-growl-item-container{
    background: #fff;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}